<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin</title>
    <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">
    <%- include('../../partials/admin/css-libraries') %>
</head>
<body class="bg-theme bg-theme1">
<div id="wrapper">
    <%- include('../../partials/admin/navigation') %>
    <%- include('../../partials/admin/header') %>
    <div class="clearfix">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <p class="h4 mb-2">Quản lý bài viết</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">ID nguời bình luận</th>
                                    <th scope="col">Username nguời bình luận</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Thời gian bình luận</th>
                                    <th scope="col">ID người phản hồi</th>
                                    <th scope="col">Username nguời phản hồi</th>
                                    <th scope="col">Nội dung phản hồi</th>
                                    <th scope="col">Thời gian phản hồi</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% data.forEach((row) => { %>
                                <tr>
                                    <td>6</td>
                                    <td>tuanit10</td>
                                    <td>món này ngon không ?</td>
                                    <td>2024-11-19 15:43:54</td>
                                    <td>1</td>
                                    <td>admin</td>
                                    <td>Dạ ngon ạ, quý khách có thể đến nhà hàng bên chúng tôi để trải nghiệm ạ.</td>
                                    <td>2024-11-19 15:45:32</td>
                                    <td>
                                        <a class="btn btn-secondary" href="/admin/update/phan-hoi-binh-luan?id=3&userId=6">Sửa phản hồi</a>
                                        <a class="btn btn-danger" href="/admin/delete/phan-hoi-binh-luan?id=3&userId=6">Xoá phản hồi</a>
                                    </td>
                                </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <%
                        for (let i = 0; i < pages; i++) {
                        %>
                            <a href="?page=<%= i + 1 %>" class="btn btn-primary" style="color:white;"><%= i + 1 %></a>
                        <%
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <%- include('../../partials/admin/footer') %>
    <%- include('../../partials/admin/right-sidebar') %>
    <%- include('../../partials/admin/js-libraries') %>
</div>
</body>
</html>