<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin</title>
    <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">
    <%- include('../../partials/admin/css-libraries') %>
</head>
<body class="bg-theme bg-theme1">
<div id="wrapper">
    <%- include('../../partials/admin/navigation') %>
    <%- include('../../partials/admin/header') %>
    <div class="clearfix">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý đặt bàn</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Người đặt bàn</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Số người</th>
                                    <th scope="col">Yêu cầu</th>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Sửa/Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% data.forEach((row) => { %>
                                <tr>
                                    <th scope="row"><%= row.id %></th>
                                    <td><%= row.ten %></td>
                                    <td><%= row.soDienThoai %></td>
                                    <td><%= row.soNguoi %></td>
                                    <td><%= row.yeuCau %></td>
                                    <td><%= row.thoiGian.toLocaleString() %></td>
                                    <td><%= row.trangThai === "0" ? "Chờ xác nhận" : "Đã xác nhận" %></td>
                                    <td>
                                        <a class="btn btn-primary" href="/admin/update/dat-ban?id=<%= row.id %>">Sửa</a>
                                        <a class="btn btn-danger" href="/admin/update/dat-ban?id=<%= row.id %>">Xóa</a>
                                    </td>
                                </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <%
                        for (let i = 0; i < pages; i++) {
                        %>
                            <a href="?page=<%= i + 1 %>" class="btn btn-primary" style="color:white;"><%= i + 1 %></a>
                        <%
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <%- include('../../partials/admin/footer') %>
    <%- include('../../partials/admin/right-sidebar') %>
    <%- include('../../partials/admin/js-libraries') %>
</div>
</body>
</html>