<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin</title>
    <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">
    <%- include('../../partials/admin/css-libraries') %>
</head>
<body class="bg-theme bg-theme1">
<div id="wrapper">
    <%- include('../../partials/admin/navigation') %>
    <%- include('../../partials/admin/header') %>
    <div class="clearfix">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="/admin/update/mon-an" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="maSP">Mã Sản Phẩm</label>
                                <input type="number" id="maSP" name="maSP" class="form-control" value="<%= monAn.MaSP %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="maLoai">Loại Sản Phẩm</label>
                                <select name="maLoai" id="maLoai" class="form-control">
                                    <% loaiSP.forEach((row) => { %>
                                        <option value="<%= row.LoaiSP %>"<%= row.LoaiSP === monAn.MaLoai ? " selected": "" %>><%= row.TenLoai %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tenSP">Tên Món</label>
                                <input type="text" id="tenSP" name="tenSP" class="form-control" required value="<%= monAn.TenSP %>">
                            </div>
                            <div class="form-group">
                                <label for="giaBan">Giá Bán</label>
                                <input type="number" id="giaBan" name="giaBan" class="form-control" value="<%= monAn.GiaBan %>" required>
                            </div>
                            <div class="form-group">
                                <label for="gioiThieuSP">Giới Thiệu Sản Phẩm</label>
                                <input type="text" id="gioiThieuSP" name="gioiThieuSP" class="form-control" value="<%= monAn.GioiThieuSP %>" required>
                            </div>
                            <div class="form-group">
                                <label for="file">File Ảnh</label>
                                <input type="file" id="file" name="file" class="form-control mb-2">
                            </div>
                            <div class="form-group">
                                <div class="w-50">
                                    <img id="previewImage"
                                         class="w-100 object-fit-cover"
                                         src="<%= monAn.Anh ? `/img/${monAn.Anh}` : "" %>"
                                         alt=""
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Sửa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <%- include('../../partials/admin/footer') %>
    <%- include('../../partials/admin/right-sidebar') %>
    <%- include('../../partials/admin/js-libraries') %>
    <script src="/admin/assets/js/updateMonAn.js"></script>
</div>
</body>
</html>