<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Nhà hàng</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon"/>
    <%- include('../partials/user/css-libraries') %>
</head>
<body>
<div class="container-fluid bg-white position-relative p-0">
    <%- include('../partials/user/navbar') %>
    <section id="menu" style="padding: 60px 0;">
        <div class="container mt-5">
            <div class="text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Lịch sử đặt bàn</h2>
            </div>
            <div class="w-75 mx-auto">
                <div class="card border-0">
                    <div class="card-body">
                        <div>
                            <% data.forEach((row) => { %>
                            <div class="mb-5 border" style="background-color: #8b0000">
                                <div class="px-5 py-2 border-bottom">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="fw-light mb-0 me-3 text-white">
                                                Mã đặt bàn: <%= row.id %>
                                            </p>
                                            <p class="fw-light mb-0 me-3 text-white">
                                                Thời gian đặt bàn: <%= row.thoiGian.toLocaleString() %>
                                            </p>
                                        </div>
                                        <div>
                                            <p style="background-color: #e89000" class="fw-light mb-0 me-3 text-white font-weight-bold btn">
                                                <%= row.trangThai === 0 ? "Chờ xác nhận": "Đã xác nhận" %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom bg-white">
                                    <div class="px-5 py-3">
                                        <div class="px-0 my-2 d-flex flex-wrap align-items-center">
                                            <div class="col px-0">
                                                <p class="font-weight-bold mb-1">Số điện thoại: <%= row.soDienThoai %></p>
                                                <p class="font-weight-bold mb-1">Số người: <%= row.soNguoi %> </p>
                                                <p class="font-weight-bold mb-1">Ghi chú: <%= row.yeuCau %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class="float-right">
                            <a href="/">
                                <button type="button" class="btn btn-primary border btn-lg btn-default md-btn-flat mt-2 mr-3">Quay lại</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/user/footer') %>
</div>
<%- include('../partials/user/js-libraries') %>
<%- include('../partials/user/ai-chat') %>
</body>
</html>